<!-- {% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->



<div id="stats">
<!-- STATS: Request.get_full_path(): %(total_time)s Request.Method: %(python_time)s Request.GET: %(db_time)s Queries: %(db_queries)d ENDSTATS -->
</div>
<br>
<br>
<br>
<!-- <div>
<form action="/polls/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}"><br>
    <input type="submit" value="OK">
</form>
</div> -->


<form action="/polls/" method="post">
First name:<br>
<input id="firstname" type="text" name="firstname" value="{{ first_name }}">
<br>
Last name:<br>
<input id="lastname" type="text" name="lastname" value="{{ last_name }}">
<br><br>
<input type="submit" value="submit">
</form> 
