{% extends "base.html" %}

{% block content %}
	<h1 style="text-align:center">EC700 Delta 3 Strings Page</h1>
	<br>
	<div class="container" style="text-align: center">
		<form action="/polls/strings" method="post"> <!--{% csrf_token %}-->
		First name:<br>
		<input id="firstname" type="text" name="firstname" value="{{ first_name }}">
		<br>
		<br>
		Last name:<br>
		<input id="lastname" type="text" name="lastname" value="{{ last_name }}">
		<br>
		<br>
		<br>
		<button class="btn btn-default" type="submit">Submit!</button>
		</form> 
	</div>
{% endblock %}