{% extends "base.html" %}

{% block content %}
	<form class="form-horizontal" action="/delta3/register" method="post">
	<div class="form-group">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4 text-center">
		<h1>Delta Force Registration</h1>
	</div>
		<div class="col-sm-4">
	</div>	
	</div>
  <div class="form-group">
    <label for="firstname" class="col-sm-4 control-label">Name</label>
    <div class="col-sm-2">
      <input class="form-control" id="firstname" name="firstname" placeholder="firstname" value="{{ firstname }}">
    </div>
    <div class="col-sm-2">
      <input class="form-control" id="lastname" name="lastname" placeholder="lastname" value="{{ lastname }}">
    </div>
    	<div class="col-sm-4">
	</div>
  </div>
  <div class="form-group">
    <label for="age" class="col-sm-4 control-label">Age</label>
    <div class="col-sm-4">
      <input class="form-control" name="age" id="age" placeholder="age" value="{{ age }}">
    </div>
    	<div class="col-sm-4">
	</div>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-4 control-label">Username</label>
    <div class="col-sm-4">
      <input class="form-control" name="username" id="username" placeholder="username" value="{{ username }}">
    </div>
    	<div class="col-sm-4">
	</div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-4 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="password" id="password" placeholder="password" value="{{ password }}">
    </div>
    	<div class="col-sm-4">
	</div>
  </div>
  <div class="form-group">
  <div class="col-sm-4">
  </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-lg btn-danger btn-block">Register</button>
    </div>
    	<div class="col-sm-4">
	</div>
  </div>
  <div class="form-group">
		<div class="col-sm-4">
  		</div>
    	<div class="col-sm-4 text-center">
      	<img src="http://i0.kym-cdn.com/photos/images/original/000/166/876/chuck-norris-thumbs-up.jpg">
    	</div>
    	<div class="col-sm-4">
	</div>
  </div>
</form>

{% endblock %}